// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025, Qualcomm Innovation Center, Inc. All rights reserved.
*/

/dts-v1/;
/plugin/;
#include <dt-bindings/clock/qcom,gcc-sc7280.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

/ {

	hdmi-connector {
		status = "disabled";
	};

	panel_lvds: panel-lvds@0 {
		compatible = "panel-lvds";
		data-mapping = "vesa-24";
		width-mm = <476>;
		height-mm = <268>;

		status = "okay";

		panel-timing {
			clock-frequency = <148500000>;
			hactive = <1920>;
			vactive = <1080>;
			hfront-porch = <88>;
			hback-porch = <148>;
			hsync-len = <44>;
			vfront-porch = <4>;
			vback-porch = <36>;
			vsync-len = <5>;
			de-active = <1>;
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				dual-lvds-odd-pixels;
				panel_in_lvds_odd: endpoint {
					remote-endpoint = <&lt9211c_out_odd>;
				};
			};

			port@1 {
				reg = <1>;

				dual-lvds-even-pixels;
				panel_in_lvds_even: endpoint {
					remote-endpoint = <&lt9211c_out_even>;
				};

			};
		};
	};

};

&i2c1 {
	status = "okay";

	lvds_bridge: lvds-bridge@29 {
		compatible = "lontium,lt9211c";
		reg = <0x29>;
		reset-gpios = <&tlmm 117 1>;

		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lt9211c_in: endpoint {
					data-lanes = <0 1 2 3>;
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};

			port@2 {
				reg = <2>;

				lt9211c_out_odd: endpoint {
					remote-endpoint = <&panel_in_lvds_odd>;
				};
			};

			port@3 {
				reg = <3>;

				lt9211c_out_even: endpoint {
					remote-endpoint = <&panel_in_lvds_even>;
				};
			};
		};
	};


};

&lt9611_codec {
	status = "disabled";
};

&mdss_dsi0_out {
	remote-endpoint = <&lt9211c_in>;
};

&spi11 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	st33htpm0: tpm@0 {
		compatible = "st,st33htpm-spi", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};
